#hamburger-menu,
.hamburger-btn--close {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamburger-btn--close {
  justify-content: flex-end;
}

// Overlay
#menu-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  background: $white;
  padding: $paddingY $paddingX;
  transition: 500ms ease all;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
}

.category {
  &__title {
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5em;
    font-weight: 600;
    color: $almostBlack;
    padding: 1rem 0;
    border: none;
    margin: auto;
    font-size: 1rem;
    cursor: pointer;
  }

  &__subjects {
    background: $almostBlack;
    padding: 2rem;
    border-radius: 1em;
  }
}

.hamburger__menu__overlay-container {
  position: relative;
  width: 100%;
  height: 100%;

  &::after {
    content: "";
    position: absolute;
    top: -29px;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 30px solid $white;
    border-left: 30px solid transparent;
  }
}

.hamburger-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  row-gap: 1.5rem;
  color: black;
  font-size: 1rem;

  li {
    cursor: pointer;

    &:last-child {
      background-color: black;
      padding: 1em 1.5em;
      font-size: 0.8em;
      border-radius: 2em;
      color: blue;
      text-transform: uppercase;
      font-family: $almostBlack;
    }
  }
}

.hide {
  display: none;
  opacity: 0;
}
