// Neutral
$white: hsl(0, 0%, 98%);
$mediumGray: hsl(0, 0%, 41%);
$almostBlack: hsl(0, 0%, 8%);

// Font
$fontSize: 18px;

$fontFamily: "Epilogue", sans-serif;

// Width
$containerWidth: 1200px;
$mobileWidth: 500px;
$tabletWidth: 770px;

// transitions
$hoverTransition: all 200ms ease;

// Padding
$paddingY: 1.25rem;
$paddingX: 1rem;
