@import "variables";
@import "main-styles";
@import "hamburgerMenu";
@import "utilitys";

////////// Header //////////
#main-header {
  min-height: 100vh;
}

////////// Navbar //////////
#navbar {
  justify-content: space-between;
  align-items: center;
  padding: $paddingY $paddingX;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

////////// Hero //////////
#section--hero {
  p {
    color: $mediumGray;
    padding: 0 $paddingX;
    margin-bottom: 2rem;
  }

  .btn {
    margin: 1rem auto;
  }
}

.company-logos {
  justify-content: space-around;
  align-items: center;
  column-gap: 1rem;
  padding: 2rem $paddingX;
  max-width: 100%;

  img {
    flex-basis: 25%;
    max-width: 100%;
  }
}

@import "media/mediaMedium.scss";
@import "media/mediaLarge.scss";
@import "media/mediaExtraLarge.scss";
