@media screen and (min-width: 1200px) {
  /////////////// Header content ////////////////

  h1 {
    font-size: 3rem;
  }
  .header-content {
    padding-top: 10%;

    p {
      font-size: 1.5rem;
    }
  }
}
